doctype html
html
    head
        style
          include style.css
    body
        div.main
            block content
            div
                | Thank you for registration,
                br
                | Best regards
                br
                | Flud Oleh
                br
                a(href=frontendUrl) OUR WEBSITE

